/* Increase font sizes for better readability */
body {
  font-size: 20rem;
  /* Set a larger base font size for general text */
}

/* Increase textfield size */
input.form-control,
textarea.form-control {
  font-size: 25px;
  /* Increase font size */
  padding: 12px;
  /* Increase padding */
  height: 50px;
  /* Increase height for easier typing */
  width: 100%;
  /* Full width */
  border-radius: 8px;
  /* Rounded corners */
}

/* Add custom styles for the year dropdown */
.year-list {
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  z-index: 1000; /* Ensure the dropdown appears above other elements */
  position: absolute;
}

.year-item {
  padding: 8px;
  cursor: pointer;
  text-align: center;
}

.year-item:hover {
  background-color: #f1f1f1;
}


/* Ensure that the label and input are aligned vertically */
.mb-3 {
  margin-bottom: 1rem;
  /* space between form elements */
}

input[type="date"] {
  width: 100%;
  /* Make the date input take the full width of its container */
  display: block;
  /* Ensures the input takes up a block-level space under the label */
}

.form-label {
  display: block;
  /* Ensures the label takes the full width */
  margin-bottom: 5px;
  /* Adds a small space below the label */
}


.container {
  font-size: 18px;
  /* Ensure container text is large enough */
}

h5 {
  font-size: 30px;
  /* Larger text for headers */
}

.form-select {
  font-size: 25px;
  /* Larger dropdown font */
  padding: 12px;
  /* Increase padding for better touch */
}


.form-select option {
  font-size: 25px;
  /* Larger options in the dropdown */
}

.card {
  font-size: 25px;
  /* Increase card text font */
}

